<launch>
   <!-- Kinect -->
   <arg name="camera" default="camera" />

   <include file="$(find freenect_launch)/launch/freenect.launch" >
      <arg name="camera" value="$(arg camera)" />
      <arg name="depth_registration" value="true" />
      <arg name="publish_tf" value="false" /> 
   </include>

   <!-- TF Frames -->
   <include file="$(find tangible)/launch/userdefined_frame.launch" >
      <arg name="camera" value="$(arg camera)" />
   </include>

    <!-- AR Tracking -->
    <include file="$(find ar_track_alvar)/launch/kinect_indiv.launch" >
       <arg name="output_option" value="log" />
    </include>

    <!-- RViz -->
	<node pkg="rviz" type="rviz" name="visualization" args="-d /home/yasaman/.rviz/visualization.rviz"/>

</launch>